{% extends "base.twig" %}

{% block title %}Add New{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="flex justify-center">
        <form action="/add" method="post" class="mb-4">
            <div class="flex flex-col col-span-4 text-xl">
                <label for="fist_name">First Name</label>
                <input type="text" id="fist_name" placeholder="Name" name="first_name" class="rounded">
            </div>
            <div class="flex flex-col col-span-4 text-xl">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" placeholder="Surname" name="last_name" class="rounded">
            </div>
            <div class="flex flex-col col-span-4 text-xl">
                <label for="nid">National Id</label>
                <input type="text" id="nid" placeholder="000000-00000" name="nid" class="rounded">
            </div>
            <div class="flex flex-col col-span-4 text-xl">
                <label for="notes">Notes</label>
                <input type="text" id="notes" name="notes" value="" class="rounded">
            </div>
            <div class="flex justify-between items-center mt-4">
                <a href="/" class="w-24 px-4 py-1 rounded bg-green-400 text-center text-lg">Back</a>
                <input type="submit" class="w-24 px-4 py-1 rounded bg-green-400 text-center font-bold text-lg cursor-pointer" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
