{% extends "base.twig" %}

{% block title %}Add New{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="flex justify-center">
        <form action="/add" method="post">
            <div class="flex flex-col col-span-4 text-xl inputs">
                <label for="fist_name">First Name</label>
                <input type="text" id="fist_name" placeholder="Name" name="first_name">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" placeholder="Surname" name="last_name">
                <label for="nid">National Id</label>
                <input type="text" id="nid" placeholder="000000-00000" name="nid">
                <label for="age">Age</label>
                <input type="text" id="age" placeholder="0" name="age">
                <label for="address">Address</label>
                <input type="text" id="address" placeholder="Address" name="address">
                <label for="notes">Notes</label>
                <input type="text" id="notes" name="notes" value="">
            </div>
            <div class="flex justify-between items-center mt-4">
                <a href="/" class="btn bg-green-400">Back</a>
                <input type="submit" class="btn bg-green-400 font-bold" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
