{% extends "base.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <h1>Error: {{ message }}</h1>
    <div>Something went wrong. Try again.</div>
    <hr>
    <div><a href="/">Return to the main page</a></div>
{% endblock %}
