{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="flex justify-center">
        <form action="/login" method="post" class="mb-4">
            <div class="flex flex-col text-xl inputs">
                <label for="nid">National Id</label>
                <input type="text" id="nid" placeholder="000000-00000" name="nid"
                       {% if nid %}value="{{ nid }}"{% endif %}>
            </div>
            <div class="flex justify-between items-center mt-4">
                <a href="/" class="btn-gray">Back</a>
                <input type="submit"
                       class="btn-gray font-bold"
                       value="Login">
            </div>
        </form>
    </div>
    {% if token %}
        <div class="flex justify-center mt-8">
            <a href="/otp?token={{ token.token }}">Authenticate with National Id {{ token.nid }}</a>
        </div>
    {% endif %}
{% endblock %}
