table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

.button {
    width: 100px;
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
